@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <script type="text/javascript">
        $(document).ready(() => {
            $("#btnjQuery").click(() => {
                $("#strjQuery").text("got·cha")
            })
        })
    </script>
</head>
<body>
    <p id="strjQuery">Hello World</p>
    <button id="btnjQuery" class="btn btn-primary" type="button">jQuery</button>
</body>
</html>
