.logo {
  height: 64px;
  margin: 4px;
  text-align: center
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 64px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  max-width: 300px;
  margin: 0px auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}